<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SSHPortTransferApp"
        android:allowBackup="true"
        android:icon="@android:drawable/stat_sys_upload_done"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/stat_sys_upload_done"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSHPortTransfer">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.TunnelForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
